*, :before, :after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #E0E0E0;
  color: #212121;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
  outline: 0;
}

textarea {
  resize: none;
}

label {
  display: block;
}

form {
  display: inline;
}

.app {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 940px;
  padding: 0 15px;
}

.content {
  padding: 3rem 1.5rem;
}

.title {
  display: block;
  margin-bottom: 28px;
  color: #212121;
  line-height: 48px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.button {
  display: inline-block;
  vertical-align: top;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  overflow: hidden;
  background: none;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.3s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.3s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button--default {
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  font-size: 0.875rem;
}
.button--medium {
  min-width: 80px;
  height: 42px;
  line-height: 42px;
  font-size: 1rem;
}
.button--big {
  min-width: 120px;
  height: 48px;
  line-height: 48px;
  font-size: 1rem;
}
.button--flat {
  padding: 0 8px;
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
}
.button--flat_indigo {
  color: #3F51B5;
}
.button--flat_red {
  color: #F44336;
}
.button--flat_black {
  color: #000;
}
.button--flat_indent {
  margin-right: 8px;
}
.button--raised {
  padding: 0 16px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.button--raised_indigo {
  background-color: #3F51B5;
  color: #fff;
}
.button--raised_dark-indigo {
  background-color: #303F9F;
  color: #fff;
}
.button--raised_blue-gray {
  background-color: #607D8B;
  color: #fff;
}
.button--raised_red {
  background-color: #F44336;
  color: #fff;
}
.button--raised_medium-gray {
  background-color: #9E9E9E;
  color: #fff;
}
.button--raised:active {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
.button--full-width {
  display: block;
  width: 100%;
}

.user {
  margin-bottom: 2rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 24px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.user__title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.user__logout {
  font-size: 0.875rem;
  text-decoration: underline;
}
.user__create-ad {
  font-size: 1.375rem;
  text-transform: uppercase;
}

.form {
  margin-bottom: 2rem;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.form__buttons {
  padding-top: 1rem;
  text-align: right;
}

.form-group {
  padding: 2rem 0 4px;
}

.form-field {
  display: block;
  margin: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #9E9E9E;
  -webkit-border-radius: 0;
          border-radius: 0;
  width: 100%;
  height: 1.5rem;
  padding: 4px 0;
  background: #fff;
  line-height: 1.5rem;
  font-size: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-field:focus {
  border-bottom: 2px solid #3F51B5;
  padding-bottom: 3px;
}
.form-field--area {
  height: 80px;
}

.ad-preview {
  margin-bottom: 24px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.ad-preview:last-child {
  margin-bottom: 0;
}
.ad-preview__title {
  margin-bottom: 0.75rem;
  color: #3F51B5;
  font-size: 1.125rem;
  font-weight: bold;
}
.ad-preview__author {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 1rem;
  font-size: 0.875rem;
  color: #9E9E9E;
}
.ad-preview__date {
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.75rem;
  color: #9E9E9E;
}
.ad-preview__desc {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

.ad {
  padding: 4rem;
  background-color: #fff;
}
.ad__author {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 1.25rem;
  color: #9E9E9E;
  font-size: 1rem;
}
.ad__date {
  display: inline-block;
  vertical-align: baseline;
  color: #9E9E9E;
  font-size: 0.875rem;
}
.ad__desc {
  padding: 2rem 0px;
  line-height: 1.5rem;
}

.to-main {
  display: table;
  margin: 24px auto;
}

.pagination {
  margin: 0 -4px;
  padding: 16px 0;
  font-size: 0;
  text-align: center;
}
.pagination__item {
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin: 0 4px 4px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 0.875rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pagination__item--active, .pagination__item:hover {
  background-color: #9E9E9E;
}

.link {
  color: #2196F3;
}
.link:hover {
  text-decoration: underline;
}
.link--underline {
  text-decoration: underline;
}
.link--underline:hover {
  text-decoration: none;
}
