// General
*, :before, :after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    background-color: get-color("lightGray");
    color: get-color("darkGray");
    font-family: unquote(get-font("main"));
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

*:focus {
    outline: 0;
}

textarea {
    resize: none;
}

label {
    display: block;
}

form {
    display: inline;
}
// General (END)
