// Title
.title {
    display: block;
    margin-bottom: 28px;
    color: get-color("darkGray");
    line-height: 48px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
// Title (END)
